fastapi
uvicorn
pymongo
psycopg2
sqlalchemy
yfinance
beautifulsoup4
requests
python-dotenv
pandas
langchain
langgraph
openai
pytest
loguru
chromadb
langchain-chroma
langchain_openai
langchain-community
tavily-python